#container {
  position: fixed;
    width: 100%;
    margin: auto !important;
    display: block;
    height: 90vh;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .ui-icon-loading{
    display: none;
  }
  .a{
    background: #fff;
    
  }

  .b{
    background: #FEEAC9;
    
  }
  .c{
    background: #A5B39A;
    background-image: url("img7.jpg");
    background-size: auto 100% !important;
    
  }
  .d{
    background: #51A71C;
    
  }
  .e{
    background: #FB8037;
    
  }
  .f{
    background: #D4BBD1;
    
  }
  .g{
    background: #5CAFC9;
    
  }
  .h{
    background: #FFDFD3;
    
  }
  .i{
    background: #BED733;
    
  }
  .j{
    background: #FFED00;
    
  } 
  .textF{
    top: 100px;
  }
  .buddy {
    display: none;
    /* background: #fff; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: rgb(233, 231, 215);
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 2px;
    width: 90%;
    height: 80vh;
    top: 50px;
    margin-left: 1.5%;
    margin-right: 5%;
    position: absolute;
    cursor: hand;
  }
  .rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
  }
  .rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
  }
  .avatar {
    background: #222;
    width: 99%;
    height: 50vh;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    background-size: auto 100% !important;
    background-position: center;
    background-repeat: no-repeat;

    -moz-box-shadow:    inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow:         inset 0 0 3px #000000;

    border-radius: 10px;
  }
  @media only screen and (min-width: 900px) {
    .avatar {
      border-radius: 10px;
      float: left;
      width: 400px;
      height: 380px;
      margin-right: 20px;
    }

    
   .text{
     top:20%
    
   }
  }
  .text{
      position: relative;
      margin-top: 10px;
      color: #0F0E0F;
      margin: 10px;
      text-align:center;
      font-weight: bolder;
      font-style:initial;
      font-size: 20px;
      font-family: 'Atma', cursive;
      font-family: 'Galada', cursive;
  }
  .eid{
    color: #FB8037;
    font-size: 36px;
    font-family: 'Galada', cursive;

  }
  .like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
  }
  .dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid rgb(56, 177, 86);
    color: rgb(39, 194, 129);
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
  }
  
